<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StupidBird.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB4437D91E97D19B00E4E4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4437ED1E97D19C00E4E4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4437F81E97D19C00E4E4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
